* { margin: 0; padding: 0; box-sizing: border-box; border: none; outline: none; }

html, body, #root {
  height: 100%;
  border: none;
  outline: none;
}

body { 
  font-family: 'Inter'; 
  background: #d9dee5 ;
  border: none;
  outline: none;
}

.landing-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border: none;
  overflow: hidden;
}

/* Hero Section */
.hero-section-landing {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 6rem 3rem;
  width: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 1.4rem;
  color:#64748b;
}

.hero-subtitle {
  font-size: 1.30rem;
  color: #64748b;
  margin-bottom: 2.5rem;
  line-height: 1.6;
  font-weight: 500;
  max-width: 600px;
}

.cta-buttons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.primary-cta {
  background: white;
  color: #767F9E;
  padding: 1rem 2.5rem;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.05rem;
  border: 2px solid #767F9E;
  display: inline-block;
}

.primary-cta:hover {
  background: #767F9E;
  color: white;
}

.secondary-cta {
  background: white;
  color: #767F9E;
  padding: 1rem 2.5rem;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.05rem;
  border: 2px solid #767F9E;
  display: inline-block;
}

.secondary-cta:hover {
  background: #767F9E;
  color: white;
}

.hero-visual {
  display: flex;
  justify-content: center;
  align-items: center;
}