@import url('./register.css');

.label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgot-password {
  font-size: 0.8rem;
  color: #6366f1;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}